:root {
    --text-color: #1E1B38;
    --link-color: #1A00FF;
    --background-color: #F8F9FA;
    --heading-color: #6C5CE7;
    --card-border-color: #FF9F43;
    --button-color: #6C5CE7;
    --button-border-color: #00D2D3;
    --button-text-color: #F8F9FA;
    --header-footer-color: #f7e7ce;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'poppins', -apple-system;
    background-color: var(--background-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 80px;
}

nav .left a {
    color: var(--heading-color);
    font-family: 'fredoka', 'poppins', -apple-system;
    font-size: 3rem;
    font-weight: 600;
}

nav .right a {
    color: var(--text-color);
    font-family: 'poppins', -apple-system;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0 10px;
}

nav .right a:last-child {
    color: var(--background-color);
    background-color: var(--text-color);
    padding: 5px 10px;
    border-radius: 18px;
}

nav .right a span {
    margin-left: 2.5px;
}

@media (max-width: 600px) {
    /* NAVBAR */
    nav {
        padding: 0 20px;
    }

    nav .left a {
        font-size: 2rem;
    }

    nav .right a {
        font-size: 1rem;
    }

    nav .right a:last-child {
        color: var(--text-color);
        background-color: transparent;
        padding: 0;
    }

    nav .right a span {
        display: none;
    }
}